@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);.btn__mmh,a,h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize
}

nav ul li a span,p {
    letter-spacing: .5px
}

.mega-menu,.mega-menu-interior {
    transform: translateX(-10%);
    right: 0
}

:root {
    --font-style: 'Arial',sans-serif;
    --blue-color: #12203c;
    --green-color: #3BAD4B
}

html {
    font-family: var(--font-style)
}

header {
    position: fixed;
    width: 100%;
    z-index: 999999
}

.dropdown-menu li,.img-menu,.mid_header,h1,h2,h3,h4,h5,h6,nav .menu_head h6,nav ul li a,nav ul li a span,ul li {
    position: relative
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

p {
    font-family: var(--font-normal);
    line-height: 26px
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-style);
    letter-spacing: 1px
}

a {
    color: var(--blue-color);
    text-decoration: none
}

.btn__mmh {
    background-color: var(--green-color);
    color: #fff;
    font-size: 14px
}

.btn_mmh_border {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 10px;
    min-width: 180px;
    color: var(--blue-color);
    background-color: #fff;
    border: thin solid var(--green-color)
}

.img-menu {
    min-height: 200px
}

.img-menu img {
    position: absolute;
    bottom: 10px;
    left: 10px
}

.mid_header .Consult,.mid_header .menu_mob {
    padding: 5px 10px;
    font-size: 13px;
    background-color: transparent;
    border: thin solid var(--green-color)
}

.mid_header ul li img {
    width: 25px
}

.mid_header {
    background-color: #212529;
    padding: 9px 0px
}

.mid_header ul li {
    padding: 0 6px
}

.mid_header .input-group-append .btn__mmh,footer .input-group-append .btn__mmh {
    font-size: 1rem
}

.dropdown-menu .dropdown-item:before,.row-cols-auto ul li:before {
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    font-size: 11px;
    padding-right: .5em;
    top: 8px;
    position: absolute
}

.mid_header .mmhlogo img {
    width: 135px
}

.mid_header .news {
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border: thin solid #ffc107;
    font-size: 13px
}

.mid_header .loginBtn {
    padding: 0 21px;
    background: #fff;
    border: 1px solid #444;
    color: #000;
    line-height: 30px;
    transition: .5s;
    font-size: 13px;
    height: auto;
    border-radius: 5px
}

nav {
    padding: 0!important
}

nav ul li {
    padding: 0 5px!important
}

nav ul li a {
    display: flex!important;
    align-items: center;
    font-size: 13px;
    color: #fff!important
}

nav ul li a span {
    padding: 0 6px;
    display: block;
    font-size: 14px;
    line-height: 48px;
    color: #e3e3e3;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 5px 5px 0 0
}

.navbar-nav .nav-link {
    padding: 0!important;
    position: relative
}

.navbar-expand-lg {
    justify-content: right
}

.dropdown-menu {
    width: fit-content;
    box-shadow: 0 6px 18px 0 #0000001a;
    border-radius: 0 0 10px 10px
}

.dropdown,.dropend,.dropstart,.dropup,.navbar {
    position: unset
}

nav .menu_head h6 {
    border-bottom: 1px solid #161616;
    padding: 5px 0 9px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-bottom: 4px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.row-cols-auto ul li:before {
    color: #000;
    left: -6px
}

.dropdown-menu .dropdown-item:before {
    color: #000;
    left: 13px
}

.errow-img .dropdown-menu .dropdown-item:before {
    content: unset
}

.errow-img .dropdown-menu .dropdown-item {
    margin-left: -10px
}

.foot_mmh_copy p,.nav-link {
    font-size: 14px
}

nav button {
    font-size: 14px!important
}

.dropdown-toggle::after {
    margin-top: 5px
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    /* width: 96% !important; */
    left: 2%;
    padding: 10px 22px;
    /* top: 52px */
}

.menu-50 {
    left: 20%!important
}

.menu-25 {
    left: 50%!important
}

nav .dropdown-item {
    color: #000!important;
    padding: 5px 30px 5px 28px;
    font-size: 14px
}

nav .dropdown-menu[data-bs-popper] {
    margin-top: 15px
}

nav .dropdown-menu {
    border-bottom: 3px solid #3cae4b!important
}

nav .mega-menu-interior[data-bs-popper],nav .mega-menu[data-bs-popper] {
    margin-top: 0;
    padding: 0 15px!important
}

.ktm-mega-menu {
    position: static
}

.mega-menu {
    left: 13%!important;
    width: 950px
}

.mega-menu-interior .row-cols-auto>* {
    flex: 0 0 auto;
    width: auto;
    padding: 0 21px
}

.mega-menu-interior {
    left: 0!important;
    width: 100%
}

.dropdown-menu .submenu {
    display: none;
    left: 100%;
    top: 0
}

.dropdown-item {
    transition: .1s;
    padding: 0px;
}

.dropdown-item:focus,.dropdown-item:hover {
    background-color: #dbdbdb
}

.dropdown-item.active,.dropdown-item:active {
    background-color: unset
}

.menu-5 {
    width: 320px!important;
    left: 38%!important
}

.menu-6 {
    width: 200px!important;
    left: 46%!important
}

.menu-7 {
    width: 230px!important;
    left: 52%!important
}

.menu-1 {
    width: 70%!important;
    left: 15%!important
}

header #search_box {
    position: absolute;
    width: 345px;
    height: auto;
    right: 0;
    bottom: -38px
}

header #search_box .input-group {
    z-index: 5
}

footer {
    background-color: #222
}

.footer-contact h5,footer .foot_head h5 {
    color: var(--green-color);
    font-size: 17px;
    font-weight: 600
}

footer ul {
    margin-bottom: 10px;
    margin-left: 10px
}

footer ul li {
    margin-bottom: 6px
}

footer ul li a {
    color: #ddd;
    font-size: 13px;
    display: block
}

.footer-contact {
    background: #111;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #333
}

#quick_contact_form input.form-control {
    background-color: transparent;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    height: 38px;
    margin-bottom: 5px!important
}

.footer-contact .contact_submit {
    background: #032e6f;
    color: #fff;
    font-size: 15px
}

.footer-contact .captcha-self span {
    font-weight: 700;
    padding: 6px;
    font-size: 25px;
    color: #37b44a
}

footer .pay_online li {
    padding: 8px
}

footer .pay_online li a {
    background-color: #fff;
    padding: 0 8px;
    border-radius: 7px;
    display: block;
    height: 45px
}

footer .pay_online li a img {
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 70px
}

.foot_mmh_copy .social_foot li {
    padding: 0 8px
}

.foot_mmh_copy .social_foot i {
    font-size: 25px
}

.foot_mmh_copy p span {
    color: var(--green-color);
    font-size: 600
}

.mega-menu-2 {
    left: 38%!important;
    width: 395px;
    padding-left: 0!important
}

header button:hover {
    color: #fff!important
}

@media all and (max-width: 600px) {
    .mid_header ul li {
        padding:0 3px
    }
}

@media all and (max-width: 1280px) {
    nav ul li a span {
        font-size:12px
    }
    
    .banner .nav-pills .nav-link {
        font-size: 12px!important;
        padding: 17px 15px!important
    }
    
    .nav-link {
        font-size: 13px!important
    }
    
    nav button {
        font-size: 12px!important
    }
}

@media all and (max-width: 1024PX) {
    nav ul li a span {
        font-size:8px
    }
    
    .banner .nav-pills .nav-link {
        font-size: 9px!important;
        padding: 17px 13px!important
    }
    
    .mid_header .Consult,.mid_header .news {
        font-size: 9px
    }
    
    .nav-link {
        font-size: 10px!important
    }
    
    li.nav-item.dropdown.me-4 {
        margin-right: 12px!important
    }
    
    nav button {
        font-size: 7px!important
    }
    
    .col-sm-6.pt-5.mt-5 {
        margin-top: -10px!important;
        padding-bottom: 50px!important
    }
    
    .everything-box h3 {
        font-size: 11px!important
    }
    
    .everything-box-4::before {
        right: 100px!important
    }
    
    .banner .rw-frm {
        padding: 24% 0 0!important
    }
    
    .mid_header .loginBtn {
        padding: 0 13px
    }

    ::placeholder {
        font-size: 12px
    }
    
    .btn,.dream-home p,.form-control {
        font-size: 12px
    }
    
    .dream-home h1 {
        font-size: 25px!important
    }

    .dream-home font {
        font-size: 32px
    }
    
    .how-it-work .slick-dots li {
        width: 28.5%!important;
        height: 10px
    }

    .main-test img {
        width: 30px!important;
        margin-top: 8px
    }

    .sld-shad h5 {
        font-size: 14px;
        margin-top: -10px
    }

    .add b {
        font-size: 39px
    }
}

/* ////////////////////////////////// */

    .dropdown-menu.show{
        min-width:max-content;
        /* margin: 0px; */
    
    }
    /* .dropdown-item */