# Ignore system files
.DS_Store

# Ignore Node.js related files and directories
node_modules/
npm-debug.log
/package-lock.json
**/package-lock.json

# Ignore log files
*.log

# Ignore compiled binaries and build artifacts
bin/
dist/
*.exe
